# Build output
_site/
_test_build/
.astro/
storybook-static/
style-dictionary/node_modules/

# Node
node_modules/

# Secrets
.env

# Caches en temp
.claude/*
_site/.claude/*
agent-os/standards/index.yml
.DS_Store
*/.DS_Store
*.crdownload

# Logs
*.log

# Legacy
MOx.git/
build-storybook.log
agent-os/standards/index.yml
style-dictionary/node_modules/*
*.log

# VS Code / IDEs
.vscode/