:root {
  --brand-color-lintblauw-50: #dce3ea; /** Lintblauw 15% */
  --brand-color-lintblauw-100: #b8c6d5; /** Lintblauw 30% */
  --brand-color-lintblauw-200: #95a9c0; /** Lintblauw 45% */
  --brand-color-lintblauw-300: #738eab; /** Lintblauw 60% */
  --brand-color-lintblauw-400: #4f7196; /** Lintblauw 75% */
  --brand-color-lintblauw-500: #154273; /** Lintblauw 100% */
  --brand-color-paars-50: #e3dce7; /** Paars 15% */
  --brand-color-paars-100: #c6b9cf; /** Paars 30% */
  --brand-color-paars-200: #a995b7; /** Paars 45% */
  --brand-color-paars-300: #8d729f; /** Paars 60% */
  --brand-color-paars-400: #714f87; /** Paars 75% */
  --brand-color-paars-500: #42145f; /** Paars 100% */
  --brand-color-violet-50: #f2d9e7; /** Violet 15% */
  --brand-color-violet-100: #e5b3d0; /** Violet 30% */
  --brand-color-violet-200: #d88cb7; /** Violet 45% */
  --brand-color-violet-300: #cb66a0; /** Violet 60% */
  --brand-color-violet-400: #be4088; /** Violet 75% */
  --brand-color-violet-500: #a90061; /** Violet 100% */
  --brand-color-robijnrood-50: #f7d9e7; /** Robijnrood 15% */
  --brand-color-robijnrood-100: #efb3ce; /** Robijnrood 30% */
  --brand-color-robijnrood-200: #e78cb6; /** Robijnrood 45% */
  --brand-color-robijnrood-300: #df669d; /** Robijnrood 60% */
  --brand-color-robijnrood-400: #d74085; /** Robijnrood 75% */
  --brand-color-robijnrood-500: #ca005d; /** Robijnrood 100% */
  --brand-color-roze-50: #fdeff8; /** Roze 15% */
  --brand-color-roze-100: #fbdef0; /** Roze 30% */
  --brand-color-roze-200: #f8cee8; /** Roze 45% */
  --brand-color-roze-300: #f6bde1; /** Roze 60% */
  --brand-color-roze-400: #f4add9; /** Roze 75% */
  --brand-color-roze-500: #f092cd; /** Roze 100% */
  --brand-color-rood-50: #f9dfdd; /** Rood 15% */
  --brand-color-rood-100: #f2bfbc; /** Rood 30% */
  --brand-color-rood-200: #ec9f99; /** Rood 45% */
  --brand-color-rood-300: #e67f78; /** Rood 60% */
  --brand-color-rood-400: #df6056; /** Rood 75% */
  --brand-color-rood-500: #d52b1e; /** Rood 100%^ */
  --brand-color-oranje-50: #fbead9; /** Oranje 15% */
  --brand-color-oranje-100: #f6d4b3; /** Oranje 30% */
  --brand-color-oranje-200: #f1be8c; /** Oranje 45% */
  --brand-color-oranje-300: #eda966; /** Oranje 60% */
  --brand-color-oranje-400: #e89440; /** Oranje 75% */
  --brand-color-oranje-500: #e17000; /** Oranje 100% */
  --brand-color-donkergeel-50: #fff4db; /** Donkergeel 15% */
  --brand-color-donkergeel-100: #ffe9b8; /** Donkergeel 30% */
  --brand-color-donkergeel-200: #fdde94; /** Donkergeel 45% */
  --brand-color-donkergeel-300: #fdd370; /** Donkergeel 60% */
  --brand-color-donkergeel-400: #fdc84d; /** Donkergeel 75% */
  --brand-color-donkergeel-500: #ffb612; /** Donkergeel 100% */
  --brand-color-geel-50: #fefbdd; /** Geel 15% */
  --brand-color-geel-100: #fdf6bb; /** Geel 30% */
  --brand-color-geel-200: #fcf199; /** Geel 45% */
  --brand-color-geel-300: #fbed78; /** Geel 60% */
  --brand-color-geel-400: #fae856; /** Geel 75% */
  --brand-color-geel-500: #f9e11e; /** Geel 100% */
  --brand-color-donkerbruin-50: #e8e0df; /** Donkerbruin 15% */
  --brand-color-donkerbruin-100: #d1c2be; /** Donkerbruin 30% */
  --brand-color-donkerbruin-200: #baa39d; /** Donkerbruin 45% */
  --brand-color-donkerbruin-300: #a3847d; /** Donkerbruin 60% */
  --brand-color-donkerbruin-400: #8d665d; /** Donkerbruin 75% */
  --brand-color-donkerbruin-500: #673327; /** Donkerbruin 100% */
  --brand-color-bruin-50: #efeada; /** Bruin 15% */
  --brand-color-bruin-100: #dfd4b6; /** Bruin 30% */
  --brand-color-bruin-200: #cfbf90; /** Bruin 45% */
  --brand-color-bruin-300: #bfa96c; /** Bruin 60% */
  --brand-color-bruin-400: #af9447; /** Bruin 75% */
  --brand-color-bruin-500: #94710a; /** Bruin 100% */
  --brand-color-donkergroen-50: #dfe6e1; /** Donkergroen 15% */
  --brand-color-donkergroen-100: #becdc3; /** Donkergroen 30% */
  --brand-color-donkergroen-200: #9db4a4; /** Donkergroen 45% */
  --brand-color-donkergroen-300: #7d9b87; /** Donkergroen 60% */
  --brand-color-donkergroen-400: #5d8269; /** Donkergroen 75% */
  --brand-color-donkergroen-500: #275937; /** Donkergroen 100% */
  --brand-color-groen-50: #e1eddb; /** Groen 15% */
  --brand-color-groen-100: #c4dbb6; /** Groen 30% */
  --brand-color-groen-200: #a5c991; /** Groen 45% */
  --brand-color-groen-300: #88b76d; /** Groen 60% */
  --brand-color-groen-400: #6aa549; /** Groen 75% */
  --brand-color-groen-500: #39870c; /** Groen 100% */
  --brand-color-mosgroen-50: #ebebd9; /** Mosgroen 15% */
  --brand-color-mosgroen-100: #d6d7b3; /** Mosgroen 30% */
  --brand-color-mosgroen-200: #c1c38c; /** Mosgroen 45% */
  --brand-color-mosgroen-300: #adaf66; /** Mosgroen 60% */
  --brand-color-mosgroen-400: #999c40; /** Mosgroen 75% */
  --brand-color-mosgroen-500: #777b00; /** Mosgroen 100% */
  --brand-color-mintgroen-50: #eaf8f4; /** Mintgroen 15% */
  --brand-color-mintgroen-100: #d6f2e9; /** Mintgroen 30% */
  --brand-color-mintgroen-200: #c1ebde; /** Mintgroen 45% */
  --brand-color-mintgroen-300: #ace4d3; /** Mintgroen 60% */
  --brand-color-mintgroen-400: #98ddc8; /** Mintgroen 75% */
  --brand-color-mintgroen-500: #76d2b6; /** Mintgroen 100% */
  --brand-color-donkerblauw-50: #d9e8f0; /** Donkerblauw 15% */
  --brand-color-donkerblauw-100: #b3d2e1; /** Donkerblauw 30% */
  --brand-color-donkerblauw-200: #8cbbd2; /** Donkerblauw 45% */
  --brand-color-donkerblauw-300: #66a4c3; /** Donkerblauw 60% */
  --brand-color-donkerblauw-400: #408eb4; /** Donkerblauw 75% */
  --brand-color-donkerblauw-500: #01689b; /** Donkerblauw 100% */
  --brand-color-hemelblauw-50: #d9ebf7; /** Hemelblauw 15% */
  --brand-color-hemelblauw-100: #b3d7ee; /** Hemelblauw 30% */
  --brand-color-hemelblauw-200: #8cc3e6; /** Hemelblauw 45% */
  --brand-color-hemelblauw-300: #66afdd; /** Hemelblauw 60% */
  --brand-color-hemelblauw-400: #409cd5; /** Hemelblauw 75% */
  --brand-color-hemelblauw-500: #007bc7; /** Hemelblauw 100% */
  --brand-color-lichtblauw-50: #eef7fb; /** Lichtblauw 15% */
  --brand-color-lichtblauw-100: #ddeff8; /** Lichtblauw 30% */
  --brand-color-lichtblauw-200: #cce7f4; /** Lichtblauw 45% */
  --brand-color-lichtblauw-300: #bcdff0; /** Lichtblauw 60% */
  --brand-color-lichtblauw-400: #abd7ed; /** Lichtblauw 75% */
  --brand-color-lichtblauw-500: #8fcae7; /** Lichtblauw 100% */
  --brand-color-cool-gray-50: #f8fafc; /** Cool gray 50 */
  --brand-color-cool-gray-100: #f1f5f9; /** Cool gray 100 */
  --brand-color-cool-gray-200: #e2e8f0; /** Cool gray 200 */
  --brand-color-cool-gray-300: #cbd5e1; /** Cool gray 300 */
  --brand-color-cool-gray-400: #94a3b8; /** Cool gray 400 */
  --brand-color-cool-gray-500: #64748b; /** Cool gray 500 */
  --brand-color-cool-gray-600: #475569; /** Cool gray 600 */
  --brand-color-cool-gray-700: #334155; /** Cool gray 700 */
  --brand-color-cool-gray-800: #1e293b; /** Cool gray 800 */
  --brand-color-cool-gray-900: #0f172a; /** Cool gray 900 */
  --brand-color-neutraal-wit: #ffffff; /** Wit */
  --brand-color-neutraal-zwart: #000000; /** Zwart */
  --brand-color-neutraal-transparent: rgba(0, 0, 0, 0); /** Transparant */
  --brand-color-neutraal-gebroken-zwart: #3b3b3b; /** Gebroken zwart */
  --brand-color-grijs-100: #f3f3f3; /** Grijs 100 */
  --brand-color-grijs-200: #e6e6e6; /** Grijs 200 */
  --brand-color-grijs-300: #cccccc; /** Grijs 300 */
  --brand-color-grijs-400: #b4b4b4; /** Grijs 400 */
  --brand-color-grijs-500: #999999; /** Grijs 500 */
  --brand-color-grijs-600: #696969; /** Grijs 600 */
  --brand-color-grijs-700: #535353; /** Grijs 700 */
  --brand-size-0: 0;
  --brand-size-1: 0.0625rem;
  --brand-size-2: 0.125rem;
  --brand-size-4: 0.25rem;
  --brand-size-8: 0.5rem;
  --brand-size-12: 0.75rem;
  --brand-size-16: 1rem;
  --brand-size-24: 1.5rem;
  --brand-size-32: 2rem;
  --brand-size-40: 2.5rem;
  --brand-size-48: 3rem;
  --brand-size-56: 3.5rem;
  --brand-size-64: 4rem;
  --brand-size-72: 4.5rem;
  --brand-size-80: 5rem;
  --brand-size-88: 5.5rem;
  --brand-size-96: 6rem;
  --brand-size-160: 10rem;
  --brand-size-base: 0.5rem; /** Base size for calculation. Defaults to 8 to follow 8px grid. */
  --brand-text-font-family-default: RijksSansVF; /** Rijksoverheid Sans variable font */
  --brand-text-font-weight-default: 400;
  --brand-text-font-weight-semibold: 600;
  --brand-text-font-weight-bold: 700;
  --brand-text-font-size-base: 1rem; /** Modifier voor de schaal van overige groottes. */
  --brand-text-font-size-sm: roundTo(1rem / 1.3, 0);
  --brand-text-font-size-md: 1rem;
  --brand-text-font-size-lg: roundTo(1rem * 1.1, 0);
  --brand-text-font-size-xl: 1.25rem;
  --brand-text-font-size-2xl: 1.5rem;
  --brand-text-font-size-3xl: 2rem;
  --brand-text-font-size-4xl: 2.5rem;
  --brand-text-line-height-sm: 1.5;
  --brand-text-line-height-md: 1.5;
  --brand-text-line-height-lg: 1.25;
  --brand-text-line-height-xl: 1.25;
  --brand-text-line-height-2xl: 1.25;
  --brand-text-line-height-4xl: 1.25;
  --brand-border-width-sm: 0.0625rem;
  --brand-border-width-md: 0.125rem;
  --brand-border-width-lg: 0.1875rem;
  --brand-space-1: 0.0625rem;
  --brand-space-2: 0.125rem;
  --brand-space-4: 0.25rem;
  --brand-space-8: 0.5rem;
  --brand-space-12: 0.75rem;
  --brand-space-16: 1rem;
  --brand-space-24: 1.5rem;
  --brand-space-32: 2rem;
  --brand-space-40: 2.5rem;
  --brand-space-48: 3rem;
  --brand-space-56: 3.5rem;
  --brand-space-64: 4rem;
  --brand-space-72: 4.5rem;
  --brand-space-80: 5rem;
  --brand-space-base: 0.5rem; /** Base spacing-size for calculation. Defaults to 8 to follow 8px grid. */
  --brand-typography-spacing-paragraph-default: 0.5rem;
  --brand-border-radius-1: 0.0625rem;
  --brand-border-radius-2: 0.125rem;
  --brand-border-radius-4: 0.25rem;
  --brand-box-shadow-sm: 0 2px 6px 0 #000000;
  --brand-box-shadow-md: 0 8px 16px 0 #000000;
  --size-5xs: 0.125rem;
  --size-4xs: 0.25rem;
  --size-3xs: 0.5rem;
  --size-2xs: 1rem;
  --size-xs: 1.5rem;
  --size-sm: 2rem;
  --size-md: 3rem;
  --size-lg: 4rem;
  --size-xl: 6rem;
  --size-2xl: 10rem;
  --size-logo-height: 5.5rem;
  --size-logo-width: 3rem;
  --size-main-nav-nav-item-height: 2.5rem;
  --size-icon-sm: 1rem;
  --size-icon-md: 1.5rem;
  --size-icon-lg: 2rem;
  --size-icon-xl: 3rem;
  --pointer-target-min-block-size: 3rem;
  --pointer-target-min-inline-size: 3rem;
  --page-max-inline-size: 71.25rem;
  --space-block-4xs: 0.0625rem;
  --space-block-3xs: 0.125rem;
  --space-block-2xs: 0.25rem;
  --space-block-xs: 0.5rem;
  --space-block-sm: 0.75rem;
  --space-block-md: 1rem;
  --space-block-lg: 1.5rem;
  --space-block-xl: 2rem;
  --space-block-2xl: 2.5rem;
  --space-block-3xl: 3rem;
  --space-block-4xl: 3.5rem;
  --space-block-5xl: 4rem;
  --space-inline-4xs: 0.0625rem;
  --space-inline-3xs: 0.125rem;
  --space-inline-2xs: 0.25rem;
  --space-inline-xs: 0.5rem;
  --space-inline-sm: 0.75rem;
  --space-inline-md: 1rem;
  --space-inline-lg: 1.5rem;
  --space-inline-xl: 2rem;
  --space-inline-2xl: 2.5rem;
  --space-inline-3xl: 3rem;
  --space-inline-4xl: 3.5rem;
  --space-inline-5xl: 4rem;
  --space-row-4xs: 0.0625rem;
  --space-row-3xs: 0.125rem;
  --space-row-2xs: 0.25rem;
  --space-row-xs: 0.5rem;
  --space-row-sm: 0.75rem;
  --space-row-md: 1rem;
  --space-row-lg: 1.5rem;
  --space-row-xl: 2rem;
  --space-row-2xl: 2.5rem;
  --space-row-3xl: 3rem;
  --space-row-4xl: 3.5rem;
  --space-row-5xl: 4rem;
  --space-column-4xs: 0.0625rem;
  --space-column-3xs: 0.125rem;
  --space-column-2xs: 0.25rem;
  --space-column-xs: 0.5rem;
  --space-column-sm: 0.75rem;
  --space-column-md: 1rem;
  --space-column-lg: 1.5rem;
  --space-column-xl: 2rem;
  --space-column-2xl: 2.5rem;
  --space-column-3xl: 3rem;
  --space-column-4xl: 3.5rem;
  --space-column-5xl: 4rem;
  --heading-font-family: RijksSansVF;
  --heading-font-weight: 700;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-default-bg-document: #ffffff;
  --color-default-bg-subtle: #f3f3f3;
  --color-default-bg-default: #ffffff;
  --color-default-bg-hover: #f3f3f3;
  --color-default-bg-active: #f3f3f3;
  --color-default-border-subtle: #999999;
  --color-default-border-default: #696969;
  --color-default-border-hover: #154273;
  --color-default-border-active: #154273;
  --color-default-color-default: #3b3b3b;
  --color-default-color-hover: #154273;
  --color-default-color-active: #535353;
  --color-default-color-subtle: #535353;
  --color-default-color-document: #3b3b3b;
  --color-accent-bg-document: #ffffff;
  --color-accent-bg-subtle: #f3f3f3;
  --color-accent-bg-default: #ffffff;
  --color-accent-bg-hover: #f3f3f3;
  --color-accent-bg-active: #f3f3f3;
  --color-accent-border-subtle: #999999;
  --color-accent-border-default: #696969;
  --color-accent-border-hover: #154273;
  --color-accent-border-active: #154273;
  --color-accent-color-default: #3b3b3b;
  --color-accent-color-hover: #154273;
  --color-accent-color-active: #154273;
  --color-accent-color-subtle: #535353;
  --color-accent-color-document: #154273;
  --color-action-bg-document: #ffffff;
  --color-action-bg-subtle: #f3f3f3;
  --color-action-bg-default: #154273;
  --color-action-bg-hover: #4f7196;
  --color-action-bg-active: #738eab;
  --color-action-border-subtle: #999999;
  --color-action-border-default: #154273;
  --color-action-border-hover: #4f7196;
  --color-action-border-active: #738eab;
  --color-action-color-default: #ffffff;
  --color-action-color-hover: #ffffff;
  --color-action-color-active: #ffffff;
  --color-action-color-subtle: #535353;
  --color-action-color-document: #154273;
  --color-disabled-bg-document: #999999;
  --color-disabled-bg-subtle: #999999;
  --color-disabled-bg-default: #999999;
  --color-disabled-bg-hover: #999999;
  --color-disabled-bg-active: #999999;
  --color-disabled-border-subtle: #999999;
  --color-disabled-border-default: #999999;
  --color-disabled-border-hover: #999999;
  --color-disabled-border-active: #999999;
  --color-disabled-color-default: #535353;
  --color-disabled-color-hover: #535353;
  --color-disabled-color-active: #535353;
  --color-disabled-color-subtle: #535353;
  --color-disabled-color-document: #535353;
  --color-info-bg-document: #fbfcfd;
  --color-info-bg-subtle: #f4f7fa;
  --color-info-bg-default: #ecf1f7;
  --color-info-bg-hover: #e4ecf4;
  --color-info-bg-active: #dde6f1;
  --color-info-border-subtle: #b0c6df;
  --color-info-border-default: #5c89be;
  --color-info-border-hover: #4e7fb8;
  --color-info-border-active: #3f74b2;
  --color-info-color-default: #1b59a4;
  --color-info-color-hover: #04499a;
  --color-info-color-active: #003b81;
  --color-info-color-subtle: #2964aa;
  --color-info-color-document: #001b3c;
  --color-negative-bg-document: #fffbfb;
  --color-negative-bg-subtle: #fef4f4;
  --color-negative-bg-default: #feeded;
  --color-negative-bg-hover: #fde6e6;
  --color-negative-bg-active: #fddede;
  --color-negative-border-subtle: #f9b1b1;
  --color-negative-border-default: #f14848;
  --color-negative-border-hover: #ef2929;
  --color-negative-border-active: #e60000;
  --color-negative-color-default: #b70000;
  --color-negative-color-hover: #9c0000;
  --color-negative-color-active: #930000;
  --color-negative-color-subtle: #ca0000;
  --color-negative-color-document: #410000;
  --color-positive-bg-document: #fafdfb;
  --color-positive-bg-subtle: #eff9f3;
  --color-positive-bg-default: #e4f5ea;
  --color-positive-bg-hover: #d9f1e2;
  --color-positive-bg-active: #ceedd9;
  --color-positive-border-subtle: #8ad3a6;
  --color-positive-border-default: #009b3a;
  --color-positive-border-hover: #009036;
  --color-positive-border-active: #008432;
  --color-positive-color-default: #006827;
  --color-positive-color-hover: #005821;
  --color-positive-color-active: #00481b;
  --color-positive-color-subtle: #00732b;
  --color-positive-color-document: #00210c;
  --color-warning-bg-document: #fffcf8;
  --color-warning-bg-subtle: #fff5eb;
  --color-warning-bg-default: #ffeedd;
  --color-warning-bg-hover: #ffe7d0;
  --color-warning-bg-active: #ffe0c2;
  --color-warning-border-subtle: #ffb46b;
  --color-warning-border-default: #c8700e;
  --color-warning-border-hover: #b86810;
  --color-warning-border-active: #a96011;
  --color-warning-color-default: #844c12;
  --color-warning-color-hover: #6f4012;
  --color-warning-color-active: #5a3511;
  --color-warning-color-subtle: #935412;
  --color-warning-color-document: #27190a;
  --color-highlight-bg-document: #fffcf2;
  --color-highlight-bg-subtle: #fff7d7;
  --color-highlight-bg-default: #fff1bb;
  --color-highlight-bg-hover: #ffeb9d;
  --color-highlight-bg-active: #ffe57c;
  --color-highlight-border-subtle: #e6c10c;
  --color-highlight-border-default: #9e8418;
  --color-highlight-border-hover: #927a18;
  --color-highlight-border-active: #867018;
  --color-highlight-color-default: #695817;
  --color-highlight-color-hover: #594a16;
  --color-highlight-color-active: #483d14;
  --color-highlight-color-subtle: #756218;
  --color-highlight-color-document: #201b0c;
  --color-selected-bg-document: #ffffff;
  --color-selected-bg-subtle: #f3f3f3;
  --color-selected-bg-default: #ffffff;
  --color-selected-bg-hover: #f3f3f3;
  --color-selected-bg-active: #f3f3f3;
  --color-selected-border-subtle: #999999;
  --color-selected-border-default: #696969;
  --color-selected-border-hover: #154273;
  --color-selected-border-active: #154273;
  --color-selected-color-default: #3b3b3b;
  --color-selected-color-hover: #154273;
  --color-selected-color-active: #154273;
  --color-selected-color-subtle: #535353;
  --color-selected-color-document: #154273;
  --color-default-inverse-bg-document: #242424;
  --color-default-inverse-bg-subtle: #1b1b1b;
  --color-default-inverse-bg-default: #595959;
  --color-default-inverse-bg-hover: #4b4b4b;
  --color-default-inverse-bg-active: #3e3e3e;
  --color-default-inverse-border-subtle: #474747;
  --color-default-inverse-border-default: #c9c9c9;
  --color-default-inverse-border-hover: #d4d4d4;
  --color-default-inverse-border-active: #dfdfdf;
  --color-default-inverse-color-default: #ffffff;
  --color-default-inverse-color-hover: #ffffff;
  --color-default-inverse-color-active: #ffffff;
  --color-default-inverse-color-subtle: #c4c4c4;
  --color-default-inverse-color-document: #ffffff;
  --color-accent-inverse-bg-document: #00234d;
  --color-accent-inverse-bg-subtle: #001b3c;
  --color-accent-inverse-bg-default: #1b59a4;
  --color-accent-inverse-bg-hover: #04499a;
  --color-accent-inverse-bg-active: #003b81;
  --color-accent-inverse-border-subtle: #004494;
  --color-accent-inverse-border-default: #b8cbe2;
  --color-accent-inverse-border-hover: #c6d6e8;
  --color-accent-inverse-border-active: #d5e1ee;
  --color-accent-inverse-color-default: #ffffff;
  --color-accent-inverse-color-hover: #ffffff;
  --color-accent-inverse-color-active: #ffffff;
  --color-accent-inverse-color-subtle: #b0c6df;
  --color-accent-inverse-color-document: #ffffff;
  --color-action-inverse-bg-document: #00234d;
  --color-action-inverse-bg-subtle: #001b3c;
  --color-action-inverse-bg-default: #1b59a4;
  --color-action-inverse-bg-hover: #04499a;
  --color-action-inverse-bg-active: #003b81;
  --color-action-inverse-border-subtle: #004494;
  --color-action-inverse-border-default: #b8cbe2;
  --color-action-inverse-border-hover: #c6d6e8;
  --color-action-inverse-border-active: #d5e1ee;
  --color-action-inverse-color-default: #ffffff;
  --color-action-inverse-color-hover: #ffffff;
  --color-action-inverse-color-active: #ffffff;
  --color-action-inverse-color-subtle: #b0c6df;
  --color-action-inverse-color-document: #ffffff;
  --color-disabled-inverse-bg-document: #595959;
  --color-disabled-inverse-bg-subtle: #595959;
  --color-disabled-inverse-bg-default: #595959;
  --color-disabled-inverse-bg-hover: #595959;
  --color-disabled-inverse-bg-active: #595959;
  --color-disabled-inverse-border-subtle: #474747;
  --color-disabled-inverse-border-default: #474747;
  --color-disabled-inverse-border-hover: #474747;
  --color-disabled-inverse-border-active: #474747;
  --color-disabled-inverse-color-default: #c4c4c4;
  --color-disabled-inverse-color-hover: #c4c4c4;
  --color-disabled-inverse-color-active: #c4c4c4;
  --color-disabled-inverse-color-subtle: #c4c4c4;
  --color-disabled-inverse-color-document: #c4c4c4;
  --color-info-inverse-bg-document: #00234d;
  --color-info-inverse-bg-subtle: #001b3c;
  --color-info-inverse-bg-default: #1b59a4;
  --color-info-inverse-bg-hover: #04499a;
  --color-info-inverse-bg-active: #003b81;
  --color-info-inverse-border-subtle: #004494;
  --color-info-inverse-border-default: #b8cbe2;
  --color-info-inverse-border-hover: #c6d6e8;
  --color-info-inverse-border-active: #d5e1ee;
  --color-info-inverse-color-default: #ffffff;
  --color-info-inverse-color-hover: #ffffff;
  --color-info-inverse-color-active: #ffffff;
  --color-info-inverse-color-subtle: #b0c6df;
  --color-info-inverse-color-document: #ffffff;
  --color-negative-inverse-bg-document: #510000;
  --color-negative-inverse-bg-subtle: #410000;
  --color-negative-inverse-bg-default: #b70000;
  --color-negative-inverse-bg-hover: #9c0000;
  --color-negative-inverse-bg-active: #820000;
  --color-negative-inverse-border-subtle: #930000;
  --color-negative-inverse-border-default: #fab9b9;
  --color-negative-inverse-border-hover: #fbc8c8;
  --color-negative-inverse-border-active: #fcd7d7;
  --color-negative-inverse-color-default: #ffffff;
  --color-negative-inverse-color-hover: #ffffff;
  --color-negative-inverse-color-active: #ffffff;
  --color-negative-inverse-color-subtle: #f9b1b1;
  --color-negative-inverse-color-document: #ffffff;
  --color-positive-inverse-bg-document: #002b10;
  --color-positive-inverse-bg-subtle: #00210c;
  --color-positive-inverse-bg-default: #006827;
  --color-positive-inverse-bg-hover: #005821;
  --color-positive-inverse-bg-active: #00481b;
  --color-positive-inverse-border-subtle: #00531f;
  --color-positive-inverse-border-default: #96d8ae;
  --color-positive-inverse-border-hover: #ace0c0;
  --color-positive-inverse-border-active: #c3e9d1;
  --color-positive-inverse-color-default: #ffffff;
  --color-positive-inverse-color-hover: #ffffff;
  --color-positive-inverse-color-active: #ffffff;
  --color-positive-inverse-color-subtle: #8ad3a6;
  --color-positive-inverse-color-document: #ffffff;
  --color-warning-inverse-bg-document: #331f0d;
  --color-warning-inverse-bg-subtle: #27190a;
  --color-warning-inverse-bg-default: #844c12;
  --color-warning-inverse-bg-hover: #6f4012;
  --color-warning-inverse-bg-active: #5a3511;
  --color-warning-inverse-border-subtle: #683c12;
  --color-warning-inverse-border-default: #ffbc7a;
  --color-warning-inverse-border-hover: #ffcb98;
  --color-warning-inverse-border-active: #ffd9b4;
  --color-warning-inverse-color-default: #ffffff;
  --color-warning-inverse-color-hover: #ffffff;
  --color-warning-inverse-color-active: #ffffff;
  --color-warning-inverse-color-subtle: #ffb46b;
  --color-warning-inverse-color-document: #ffffff;
  --color-highlight-inverse-bg-document: #2a230f;
  --color-highlight-inverse-bg-subtle: #201b0c;
  --color-highlight-inverse-bg-default: #695817;
  --color-highlight-inverse-bg-hover: #594a16;
  --color-highlight-inverse-bg-active: #483d14;
  --color-highlight-inverse-border-subtle: #534615;
  --color-highlight-inverse-border-default: #ecc609;
  --color-highlight-inverse-border-hover: #f9d103;
  --color-highlight-inverse-border-active: #ffde56;
  --color-highlight-inverse-color-default: #ffffff;
  --color-highlight-inverse-color-hover: #ffffff;
  --color-highlight-inverse-color-active: #ffffff;
  --color-highlight-inverse-color-subtle: #e6c10c;
  --color-highlight-inverse-color-document: #ffffff;
  --color-selected-inverse-bg-document: #00234d;
  --color-selected-inverse-bg-subtle: #001b3c;
  --color-selected-inverse-bg-default: #1b59a4;
  --color-selected-inverse-bg-hover: #04499a;
  --color-selected-inverse-bg-active: #003b81;
  --color-selected-inverse-border-subtle: #004494;
  --color-selected-inverse-border-default: #b8cbe2;
  --color-selected-inverse-border-hover: #c6d6e8;
  --color-selected-inverse-border-active: #d5e1ee;
  --color-selected-inverse-color-default: #ffffff;
  --color-selected-inverse-color-hover: #ffffff;
  --color-selected-inverse-color-active: #ffffff;
  --color-selected-inverse-color-subtle: #b0c6df;
  --color-selected-inverse-color-document: #ffffff;
  --color-form-control-accent-color: #ffffff;
  --color-form-control-background-color: #ffffff;
  --color-form-control-border-color: #696969;
  --color-form-control-color: #3b3b3b;
  --color-form-control-placeholder-color: #535353;
  --color-form-control-font-family: RijksSansVF;
  --color-form-control-font-weight: 400;
  --color-form-control-line-height: 1.5;
  --color-form-control-active-accent-color: #ffffff;
  --color-form-control-active-background-color: #f3f3f3;
  --color-form-control-active-border-color: #154273;
  --color-form-control-active-color: #3b3b3b;
  --color-form-control-disabled-accent-color: #999999;
  --color-form-control-disabled-background-color: #999999;
  --color-form-control-disabled-border-color: #999999;
  --color-form-control-disabled-color: #535353;
  --color-form-control-focus-background-color: #ffffff;
  --color-form-control-focus-border-color: #154273;
  --color-form-control-focus-color: #3b3b3b;
  --color-form-control-hover-accent-color: #ffffff;
  --color-form-control-hover-background-color: #f3f3f3;
  --color-form-control-hover-border-color: #154273;
  --color-form-control-hover-color: #3b3b3b;
  --color-form-control-invalid-background-color: #feeded;
  --color-form-control-invalid-border-color: #f14848;
  --color-form-control-invalid-color: #b70000;
  --color-form-control-read-only-background-color: #f3f3f3;
  --color-form-control-read-only-border-color: rgba(0, 0, 0, 0);
  --color-form-control-read-only-color: #3b3b3b;
  --form-control-font-size: 1rem;
  --form-control-border-width: 0.1875rem;
  --form-control-font-family: RijksSansVF;
  --form-control-font-weight: 400;
  --form-control-line-height: 1.5;
  --form-control-max-inline-size: 1.5625rem;
  --form-control-active-border-width: 0.125rem;
  --form-control-focus-border-width: 0.125rem;
  --form-control-hover-border-width: 0.125rem;
  --form-control-invalid-border-width: 0.125rem;
  --border-form-textinput: 0.0625rem solid #696969;
  --border-focus: 0.1875rem dashed #154273;
  --typography-nav-main-nav: 600 1.25rem/1.25 RijksSansVF;
  --typography-heading-h1: 600 2.5rem/1.25 RijksSansVF;
  --typography-heading-h2: 600 2rem/1.25 RijksSansVF;
  --typography-heading-h3: 600 1.5rem/1.25 RijksSansVF;
  --typography-heading-h4: 600 1.25rem/1.25 RijksSansVF;
  --typography-heading-h5: 600 roundTo(1rem * 1.1, 0)/1.25 RijksSansVF;
  --typography-heading-h6: 600 1rem/1.25 RijksSansVF;
  --typography-footer-link: 600 roundTo(1rem * 1.1, 0)/1.25 RijksSansVF;
  --typography-paragraph-p-regular: 400 1rem/1.5 RijksSansVF;
  --typography-paragraph-p-semibold: 600 1rem/1.5 RijksSansVF;
  --typography-paragraph-p-intro: 400 roundTo(1rem * 1.1, 0)/1.5 RijksSansVF;
  --typography-smalltext-regular: 400 roundTo(1rem / 1.3, 0)/1.5 RijksSansVF;
  --typography-smalltext-semibold: 600 roundTo(1rem / 1.3, 0)/1.5 RijksSansVF;
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --focus-outline-width: 0.1875rem;
  --focus-outline-color: #154273;
  --focus-background-color: #ffffff;
  --focus-outline-offset: 0.125rem;
  --form-field-invalid-border-color: #f14848;
  --form-field-invalid-border-width: 0.125rem;
  --button-border-radius: 0.125rem;
  --button-padding-block-start: 0.5rem;
  --button-padding-block-end: 0.5rem;
  --button-padding-inline-start: 1rem;
  --button-padding-inline-end: 0.25rem;
  --button-border-width: 0.125rem;
  --button-font-size: 1rem;
  --button-font-weight: 600;
  --button-line-height: 1.5;
  --button-negative-background-color: #b70000;
  --button-negative-border-color: #b70000;
  --button-negative-color: #ffffff;
  --button-negative-active-background-color: #820000;
  --button-negative-active-border-color: #820000;
  --button-negative-active-color: #ffffff;
  --button-negative-hover-background-color: #9c0000;
  --button-negative-hover-border-color: #9c0000;
  --button-negative-hover-color: #ffffff;
  --button-primary-background-color: #154273;
  --button-primary-border-color: #154273;
  --button-primary-color: #ffffff;
  --button-primary-hover-background-color: #4f7196;
  --button-primary-hover-border-color: #4f7196;
  --button-primary-hover-color: #ffffff;
  --button-primary-active-background-color: #738eab;
  --button-primary-active-border-color: #738eab;
  --button-primary-active-color: #ffffff;
  --button-primary-disabled-background-color: #999999;
  --button-primary-disabled-border-color: #999999;
  --button-secondary-background-color: #ffffff;
  --button-secondary-border-color: #154273;
  --button-secondary-color: #154273;
  --button-secondary-hover-background-color: #4f7196;
  --button-secondary-hover-border-color: #4f7196;
  --button-secondary-hover-color: #ffffff;
  --button-secondary-active-background-color: #738eab;
  --button-secondary-active-border-color: #738eab;
  --button-secondary-active-color: #ffffff;
  --button-secondary-disabled-background-color: #999999;
  --button-secondary-disabled-border-color: #999999;
  --form-field-label-color: #3b3b3b;
  --form-field-label-font-family: RijksSansVF;
  --form-field-label-font-size: 1rem;
  --form-field-label-font-weight: 600;
  --form-field-label-line-height: 1.5;
  --form-field-description-color: #535353;
  --form-field-description-font-size: 1rem;
  --breadcrumb-separator-inline-space: 0.25rem;
  --textbox-background-color: #ffffff;
  --textbox-border-color: #696969;
  --textbox-color: #3b3b3b;
  --textbox-font-family: RijksSansVF;
  --textbox-font-size: 1rem;
  --textbox-font-weight: 400;
  --textbox-line-height: 1.5;
  --textbox-placeholder-color: #535353;
  --textbox-hover-border-color: #154273;
  --textbox-focus-border-color: #154273;
  --textbox-active-border-color: #154273;
  --textbox-disabled-background-color: #999999;
  --textbox-disabled-border-color: #999999;
  --textbox-disabled-color: #535353;
  --textbox-invalid-background-color: #feeded;
  --textbox-invalid-border-color: #f14848;
  --textbox-invalid-color: #3b3b3b;
  --textbox-read-only-background-color: #f3f3f3;
  --textbox-read-only-border-color: rgba(0, 0, 0, 0);
  --textbox-read-only-color: #3b3b3b;
  --textbox-border-width: 0.1875rem;
  --textbox-border-radius: 0.125rem;
  --textbox-max-inline-size: 1.5625rem;
  --textbox-min-block-size: 3rem;
  --textbox-padding-block-end: 0.25rem;
  --textbox-padding-block-start: 0.25rem;
  --textbox-padding-inline-end: 0.75rem;
  --textbox-padding-inline-start: 0.75rem;
  --link-color: #154273;
  --link-text-decoration-color: #154273;
  --link-text-decoration-line: underline;
  --link-text-decoration-thickness: 1;
  --link-text-underline-offset: 2px;
  --link-active-color: #4f7196;
  --link-disabled-color: #535353;
  --link-hover-color: #3b3b3b;
  --link-hover-text-decoration-line: underline;
  --link-hover-text-decoration-thickness: 1;
}
