/* Importeer Rijkhuisstijl design tokens als variabelen */
@import '_variables.css';

/* Importeer reset-stijlen */
@import '_reset.css';

/* Voeg Rijksoverheid Sans lettertype toe */
@font-face {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RijksSansVF-Regular.ttf') format('ttf');
}

@font-face {
    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/RijksSansVF-Italic.ttf') format('ttf');
}

/* Layout */
.space-4xs {
    height: var(--space-block-4xs);
    width: var(--space-inline-4xs);
}

.space-3xs {
    height: var(--space-block-3xs);
    width: var(--space-inline-3xs);
}

.space-2xs {
    height: var(--space-block-2xs);
    width: var(--space-inline-2xs);
}

.space-xs {
    height: var(--space-block-xs);
    width: var(--space-inline-xs);
}

.space-sm {
    height: var(--space-block-sm);
    width: var(--space-inline-sm);
}

.space-md {
    height: var(--space-block-md);
    width: var(--space-inline-md);
}

.space-lg {
    height: var(--space-block-lg);
    width: var(--space-inline-lg);
}

.space-xl {
    height: var(--space-block-xl);
    width: var(--space-inline-xl);
}

.space-2xl {
    height: var(--space-block-2xl);
    width: var(--space-inline-2xl);
}

.space-3xl {
    height: var(--space-block-3xl);
    width: var(--space-inline-3xl);
}

.space-4xl {
    height: var(--space-block-4xl);
    width: var(--space-inline-4xl);
}

.space-5xl {
    height: var(--space-block-5xl);
    width: var(--space-inline-5xl);
}

body {
    color: var(  --color-text-body);
    font-family: 'RijksSansVF';
}

header {
    .logo {
        margin: 0 auto;
        width: var(--size-logo-width);
    }
    nav {
        li {
            display: inline-block;
        }
    }
}
.page-head {
    margin: 0 auto;
    max-width: 1140px;
    .title {
        font: var(--typography-heading-h1);
    }
}

main {
    margin: 0 auto;
    max-width: 1140px;
}
footer {}

/* Globale focus staat */
:focus-visible {
    background: var(--focus-background-color);
    outline: var(--border-focus);
    outline-offset: var(--focus-outline-offset);
    &[aria-disabled] {
        outline-color: var(--color-disabled-border-default);
    }
    &.negative {
        outline-color: var(--color-negative-border-default);
    }
}

/* Formulier elementen */
form {}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    font: inherit;
    border: var(--form-control-border-width);
}

/* Formulieren: Labeling */
label, legend, .form-helper-text {
    display: block;
}
legend, label {
}
.form-helper-text {
}

/* Formulier: Knoppen */
button {
    background: var(--button-primary-background-color);
    border: var(--button-border-width) solid var(--button-primary-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-primary-color);
    cursor: pointer;
    min-height: var(--pointer-target-min-block-size);
    min-width: var(--pointer-target-min-inline-size);
    padding: var(--button-padding-block-start) var(--button-padding-inline-start);
    span {
        display: inline-block;
        padding: 0 var(--space-inline-sm) 0 0;
    }
    &:hover, &:focus-visible {
        background: var(--button-primary-hover-background-color);
        border-color: var(--button-primary-hover-border-color);
        color: var(--button-primary-hover-color);
    }
    &:active {
        background: var(--button-primary-active-background-color);
        border-color: var(--button-primary-active-border-color);
        color: var(--button-primary-active-color);
    }
    &[aria-disabled] {
        background: var(--button-primary-disabled-background-color);
        border-color: var(--button-primary-disabled-border-color);
        color: var(--button-primary-disabled-color);
        cursor: not-allowed;
    }
    &.negative {
        background: var(--button-negative-background-color);
        border-color: var(--button-negative-border-color);
        &:hover, &:focus-visible {
            background: var(--button-negative-hover-background-color);
            border-color: var(--button-negative-hover-border-color);
        }
        &:active {
            background: var(--button-negative-active-background-color);
            border-color: var(--button-negative-active-border-color);
        }  
    }
    &.secondary {
        background: var(--button-secondary-background-color);
        border-color: var(--button-secondary-border-color);
        color: var(--button-secondary-color);
    }
}

/* Formulier: Tekstinvoer */
[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url] {
    border: var(--textbox-border-width) solid var(--textbox-border-color);
    max-width: var(--form-control-max-inline-size);
    &:hover {
    }
    &:focus-visible {
    }
    &:active {
    }
}

/* Formulier: Selectie */
[type=checkbox] {}
[type=radio] {}
select {}
select[multiple] {}
optgroup {}
option {}

/* Formulier: Bestand selecteren */
[type=file] {}


/* Ruimtelijk systeem */
/* Groeperen */
.space-4 {height: var(--space-4);width: var(--space-4);}
.space-8 {height: var(--space-8);width: var(--space-8);}
.space-12 {height: var(--space-12);width: var(--space-12);}
.space-16 {height: var(--space-16);width: var(--space-16);}
.space-24 {height: var(--space-24);width: var(--space-24);}
/* Afzonderen */
.space-32 {height: var(--space-32);width: var(--space-32);}
.space-40 {height: var(--space-40);width: var(--space-40);}
.space-48 {height: var(--space-48);width: var(--space-48);}