{# Verwacht: bericht (object uit berichtenboxData.berichten) #}
<tr class="berichtenbox-row{% if bericht.isOngelezen %} is-unread{% endif %}" data-bericht-id="{{ bericht.id }}" data-afzender-id="{{ bericht.magazijnId }}"{% if bericht.map %} data-map="{{ bericht.map }}"{% endif %}>
	<td class="berichtenbox-row-mark"><button type="button" class="mark-toggle{% if bericht.isGemarkeerd %} is-marked{% endif %}" data-mark-toggle aria-pressed="{{ 'true' if bericht.isGemarkeerd else 'false' }}"><span class="visually-hidden">Markeren</span>{% icon "/assets/icons/icon-markeren.svg" %}</button></td>
	<td class="berichtenbox-row-sender">{% if bericht.isOngelezen %}<span class="visually-hidden">Ongelezen. </span>{% endif %}{{ bericht.afzender }}</td>
	<td class="berichtenbox-row-subject"><a href="{{ (berichtenboxBasis or '/moza/berichtenbox/') | url }}bericht/{{ bericht.id }}/">{{ bericht.onderwerp }}</a></td>
	<td class="berichtenbox-row-date">{{ bericht.datum | datumNL }}</td>
	<td class="berichtenbox-row-attachment">{% if bericht.heeftBijlage %}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="currentColor" fill-rule="evenodd" d="M23.679 32a6.26 6.26 0 0 1-4.472-1.874L4.59 15.314c-3.453-3.5-3.453-9.192 0-12.691a8.786 8.786 0 0 1 12.523 0L28.152 13.81c.494.5.494 1.312 0 1.812a1.25 1.25 0 0 1-1.79 0L15.325 4.436a6.28 6.28 0 0 0-8.946 0c-2.465 2.5-2.465 6.565 0 9.065l14.618 14.812a3.767 3.767 0 0 0 5.367 0 3.89 3.89 0 0 0 .095-5.339L11.743 8.062a1.256 1.256 0 0 0-1.788 0 1.295 1.295 0 0 0 0 1.812l11.041 11.188c.494.5.494 1.311 0 1.813-.495.5-1.295.5-1.79 0L8.168 11.686a3.884 3.884 0 0 1 0-5.436 3.766 3.766 0 0 1 5.366-.001l14.619 14.813c2.464 2.499 2.464 6.565 0 9.064A6.27 6.27 0 0 1 23.679 32"/></svg><span class="visually-hidden">Heeft bijlage</span>{% endif %}</td>
	<!-- <td class="berichtenbox-row-folder-label">{% if bericht.map %}<span data-maplabel>{{ bericht.map }}</span>{% endif %}</td> -->
</tr>
