<footer class="footer-belastingdienst">
	<div class="footer-links footer-links-internal">
		<nav>
			<h4>Direct naar</h4>
			<div>
				<ul>
					<li><a href="#" rel="external">Contact</a></li>
					<li><a href="#" rel="external">Betaalgegevens</a></li>
				</ul>
				<ul>
					<li><a href="https://www.belastingdienst.nl/" rel="external">belastingdienst.nl</a></li>
					<li><a href="https://www.belastingdienst.nl/ondernemers" rel="external">Ondernemers</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="footer-links footer-links-legal">
		<nav>
			<ul>
				<li><a href="#" rel="external">Privacy</a></li>
				<li><a href="#" rel="external">Cookies</a></li>
				<li><a href="#" rel="external">Copyright</a></li>
				<li><a href="#" rel="external">Toegankelijkheid</a></li>
			</ul>
		</nav>
	</div>
	<p class="poc-date-last-edit">Laatst gewijzigd op {{ laatsteWijziging | datumtijdNL }}</p>
</footer>
