<header>
	<a class="skip-link btn-cta" href="#hoofd-inhoud">Ga naar hoofdinhoud</a>

	<div class="logo">
		<figure>
			<a href="/">
				<img src="{{ '/assets/images/beeldmerk-rijksoverheid.svg' | url }}" alt="Naar de homepage van MijnOverheid Zakelijk">
			</a>
		</figure>
		<a href="#" class="language-switch">English</a>
	</div>

	<div class="page-head">
		<span class="page-title">MijnOverheid</span>
		<div class="user-menu">
			<div class="account-switcher" data-feature="Accountwisselaar" data-feature-type="functionaliteit" data-feature-default="off">
				<button class="account-switcher-toggle icon-label {% if '/mobu/namens-' in page.url %}group-label-authorized{% else %}group-label-private{% endif %}" aria-expanded="false" aria-haspopup="true">
					{% if '/mobu/namens-' in page.url %}{% icon "/assets/icons/icon-vertegenwoordiging.svg" %}{% else %}{% include "icon-persoon.njk" %}{% endif %}
					<span>{% if '/mobu/namens-mantelzorg/' in page.url %}Robin Vogel voor Anne Vogel-de Groot{% elif '/mobu/namens-kind/' in page.url %}Robin Vogel voor Sofia René Vogel{% else %}Robin Vogel{% endif %}</span>
				</button>
				{% include "account-switcher-menu.njk" %}
			</div>
			<span class="icon-label account-switcher-fallback">
				{% include "icon-persoon.njk" %}
				Robin Vogel
			</span>
			<a class="icon-link" href="{{ '/mobu/uitgelogd/' | url }}">
				{% include "icon-inloggen.njk" %}
				Uitloggen
			</a>
		</div>
	</div>

	<!-- Proof of concept banner -->
	<a class="temp-moza-poc-banner" href="https://www.mijnoverheidzakelijk.nl/">Proof of Concept</a>

</header>
