<header>
	<a class="skip-link btn-cta" href="#hoofd-inhoud">Ga naar hoofdinhoud</a>
	<div class="logo">
		<figure>
			<a href="/">
				<img src="{{ '/assets/images/beeldmerk-rijksoverheid.svg' | url }}" alt="Naar de homepage van MijnOverheid Zakelijk">
			</a>
		</figure>
		<a href="#" class="language-switch">English</a>
	</div>
	{% if mainNav %}
	<nav class="main-nav">
		<ul>
			{% for item in mainNav %}
			<li><a href="{{ item.url }}"{% if item.current %} aria-current="page"{% endif %}>{{ item.label }}</a></li>
			{% endfor %}
		</ul>
	</nav>
	{% endif %}
	<a class="temp-moza-poc-banner" href="https://www.mijnoverheidzakelijk.nl/">Proof of Concept</a>
</header>
