---
title: "MijnOverheid Zakelijk: Melding openbare ruimte"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li><a href="{{ '/moza/lopende-zaken/' | url }}">Lopende zaken</a></li>
			<li aria-current="page">Melding openbare ruimte</li>
		</ol>
	</nav>

	<section class="card tabs">
		{% include "lopende-zaken-tabs.njk" %}

		<h1>Melding openbare ruimte</h1>
		<h2>Voortgang</h2>
		<ol class="status-track">
			<li>
				<details>
					<summary>
						<span class="visually-hidden">Voltooide stap: </span>
						Ingediend
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-04-28">28 april 2026</time></p>
						<p>We hebben uw melding ontvangen.</p>
					</div>
				</details>
			</li>
			<li>
				<details>
					<summary>
						<span class="visually-hidden">Voltooide stap: </span>
						In behandeling
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-05-04">4 mei 2026</time></p>
						<p>Uw melding is in behandeling genomen.</p>
					</div>
				</details>
			</li>
			<li>
				<details open>
					<summary>
						<span class="visually-hidden">Voltooide stap: </span>
						Extra informatie opgevraagd
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-05-04">6 mei 2026</time></p>
						<div class="feedback feedback-warning">
							{% include "icon-feedback-warning.njk" %}
							<div>
								<p>Voor de beoordeling van uw melding hebben wij aanvullende gegevens nodig.</p>
							</div>
						</div>
						<div class="status-track--sub">
							<p>Lever de volgende gegevens aan:</p>
							<ol class="status-track">
								<li>Exacte locatie: straat en dichtstbijzijnde huisnummer</li>
								<li aria-current="step">Foto’s van de situatie</li>
								<li>Datum en tijd van constatering</li>
							</ol>
							<a href="#" class="btn-cta">Aanvullende gegevens aanleveren</a>
						</div>
					</div>
				</details>
			</li>
			<li aria-current="step">
				<details>
					<summary>
						<span class="visually-hidden">Huidige stap: </span>
						Extra informatie ontvangen
					</summary>
					<div class="feedback feedback-warning">
						{% include "icon-feedback-warning.njk" %}
						<div>
							<p>Wij hebben de gevraagde aanvullende gegevens nog niet van u ontvangen.</p>
						</div>
					</div>
				</details>
			</li>
			<li>
				<details>
					<summary>
						<span class="visually-hidden">Volgende stap: </span>
						Besluit verwacht
					</summary>
					<div class="status-details">
						<p>Nadat wij de gevraagde aanvullende gegevens hebben ontvangen kunnen wij een indicatie geven wanneer een besluit te verwachten is.</p>
					</div>
				</details>
			</li>
		</ol>
		<h2>Over deze zaak</h2>
		<dl>
			<dt>Organisatie</dt>
			<dd>Gemeente Lansingerland</dd>
			<dt>Zaaknummer</dt>
			<dd>Z-2026-013094</dd>
			<dt>Ingediend</dt>
			<dd><time datetime="2026-04-28">28 april 2026</time></dd>
			<dt>Verwachte doorlooptijd</dt>
			<dd>4 weken</dd>
		</dl>
	</section>
</article>
