---
title: "MijnOverheid Zakelijk: Omgevingsvergunning verbouwing bedrijfspand"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li><a href="{{ '/moza/lopende-zaken/' | url }}">Lopende zaken</a></li>
			<li aria-current="page">Omgevingsvergunning verbouwing bedrijfspand</li>
		</ol>
	</nav>

	<section class="card tabs">
		{% include "lopende-zaken-tabs.njk" %}

		<h1>Omgevingsvergunning verbouwing bedrijfspand</h1>
		<h2>Voortgang</h2>
		<ol class="status-track">
			<li>
				<details>
					<summary>
						<span class="visually-hidden">Voltooide stap: </span>
						Ingediend
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-05-14">14 mei 2026</time></p>
						<p>Wij hebben uw omgevingsvergunning voor de verbouwing van uw bedrijfspand ontvangen.</p>
					</div>
				</details>
			</li>
			<li>
				<details open>
					<summary>
						<span class="visually-hidden">Huidige stap: </span>
						In behandeling genomen
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-05-21">21 mei 2026</time></p>
						<p>Uw verzoek is in behandeling genomen.</p>
					</div>
				</details>
			</li>
			<li aria-current="step">
				<details>
					<summary>
						<span class="visually-hidden">Nog te nemen stap: </span>
						Besluit verwacht
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-07-09">9 juli 2026</time></p>
						<p>Wij verwachten op 9 juli een besluit genomen te hebben.</p>
					</div>
				</details>
			</li>
		</ol>
		<h2>Over deze zaak</h2>
		<dl>
			<dt>Organisatie</dt>
			<dd>Gemeente Lansingerland</dd>
			<dt>Zaaknummer</dt>
			<dd>Z-2026-014872</dd>
			<dt>Ingediend</dt>
			<dd><time datetime="2026-05-14">14 mei 2026</time></dd>
			<dt>Verwachte doorlooptijd</dt>
			<dd>8 weken</dd>
		</dl>
	</section>
</article>
