---
title: "MijnOverheid Zakelijk: Subsidie duurzame bedrijfsvoering"
---

{% include "side-nav-overheid.njk" %}

<article id="hoofd-inhoud">
	<nav class="breadcrumb">
		<ol>
			<li><a href="{{ '/moza/' | url }}">Home</a></li>
			<li><a href="{{ '/moza/lopende-zaken/' | url }}">Lopende zaken</a></li>
			<li><a href="{{ '/moza/lopende-zaken/afgehandeld/' | url }}">Afgehandeld</a></li>
			<li aria-current="page">Subsidie duurzame bedrijfsvoering</li>
		</ol>
	</nav>

	<section class="card tabs">
		{% include "lopende-zaken-tabs.njk" %}

		<h1>Subsidie duurzame bedrijfsvoering</h1>
		<h2>Voortgang</h2>
		<ol class="status-track">
			<li>
				<details open>
					<summary>
						<span class="visually-hidden">Voltooide stap: </span>
						Ingediend
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2025-11-12">12 november 2025</time></p>
						<p>U hebt een subsidie voor duurzame bedrijfsvoering aangevraagd.</p>
					</div>
				</details>
			</li>
			<li>
				<details open>
					<summary>
						<span class="visually-hidden">Voltooide stap: </span>
						Beoordeeld
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2025-12-15">15 december 2025</time></p>
						<p>Uw aanvraag is beoordeeld en voldoet aan de voorwaarden.</p>
					</div>
				</details>
			</li>
			<li>
				<details open>
					<summary>
						<span class="visually-hidden">Afgerond: </span>
						Besluit genomen
					</summary>
					<div class="status-details">
						<p class="status-date"><time datetime="2026-01-22">22 januari 2026</time></p>
						<p>De subsidie is toegekend en uitbetaald op het bij ons bekende rekeningnummer.</p>
					</div>
				</details>
			</li>
		</ol>
		<h2>Over deze zaak</h2>
		<dl>
			<dt>Organisatie</dt>
			<dd>Rijksdienst voor Ondernemend Nederland</dd>
			<dt>Zaaknummer</dt>
			<dd>SUB-2025-019204</dd>
			<dt>Ingediend</dt>
			<dd><time datetime="2025-11-12">12 november 2025</time></dd>
			<dt>Besluit</dt>
			<dd>Toegekend op <time datetime="2026-01-22">22 januari 2026</time></dd>
		</dl>
	</section>
</article>
