

<section class="card">

	<hgroup>
		<h2 id="cv-orgs">Aangesloten organisaties</h2>
		<p>De geselecteerde organisaties gebruiken deze gegevens om contact met u op te nemen. Selecteert u een extra organisatie, dan gebruikt ook deze uw centrale contactgegevens.</p>
	</hgroup>

	<form>
		<ul class="list-plain">
			<li class="option--confirmed">Kamer van Koophandel (KVK)</li>
			<li class="option--confirmed">Belastingdienst</li>
		</ul>
		<ul class="list-plain" role="group" aria-labelledby="cv-orgs">
			<li><input type="checkbox" id="moza-org-om" /><label for="moza-org-om">Openbaar Ministerie (OM)</label></li>
			<li><input type="checkbox" id="moza-org-rvo" /><label for="moza-org-rvo">Rijksdienst voor Ondernemend Nederland (RVO)</label></li>
			<li><input type="checkbox" id="moza-org-rdw" /><label for="moza-org-rdw">Rijksdienst voor het Wegverkeer (RDW)</label></li>
			<li><input type="checkbox" id="moza-org-svb" /><label for="moza-org-svb">Sociale Verzekeringsbank (SVB)</label></li>
			<li><input type="checkbox" id="moza-org-uwv" /><label for="moza-org-uwv">Uitvoeringsinstituut Werknemersverzekeringen (UWV)</label></li>
		</ul>
		<div class="action-group">
			<button type="submit">Opslaan</button>
			<a class="btn secondary" href="{{ '/moza/communicatievoorkeuren-wijzigen/' | url }}">Annuleren</a>
		</div>
	</form>
</section>

<section class="card">
	<h2>Communicatiekanalen</h2>

	<p>Hoe wilt u dat overheidsorganisaties standaard contact met u opnemen als dat nodig is?</p>

	<a class="icon-link" href="{{ '/moza/communicatievoorkeuren-wijzigen/' | url }}">{% include "icon-edit.njk" %} Communicatiekanalen wijzigen</a>
	<dl class="data-overview">
		<dt>Voorkeurskanaal</dt>
		<dd>E-mail</dd>
		<dt>Bellen</dt>
		<dd>Ik wil niet gebeld worden</dd>
	</dl>

	<div class="feedback feedback-info">
		{% include "icon-feedback-info.njk" %}
		<div>
			<p>De overheid stuurt automatisch een waarschuwing naar uw voorkeurskanaal indien een bericht 14 dagen ongelezen blijft.</p>
		</div>
		<button class="btn-close link-button">
			<i>Sluit notificatie</i>
		</button>
	</div>
</section>

<section class="card">
	<h2>Berichtgevingen</h2>

	<p>Zo ontvangt u berichten van de overheid.</p>

	<a class="icon-link" href="{{ '/moza/berichtgevingen-wijzigen/' | url }}">{% include "icon-edit.njk" %} Berichtgevingen wijzigen</a>
	<dl class="data-overview">
		<dt>Ontvangstbevestiging</dt>
		<dd>E-mail, Post</dd>
		<dt>Statuswijzigingen</dt>
		<dd>E-mail</dd>
		<dt>Besluiten</dt>
		<dd>E-mail, Post</dd>
		<dt>Taken</dt>
		<dd>E-mail</dd>
	</dl>
</section>

<div class="tiles">
	<section class="card">
		<h3>Gegevensdeling en dataverwerking</h3>
		<p>Beheer welke overheidsorganisaties uw bedrijfsgegevens mogen inzien en met welke partijen gegevens worden gedeeld.</p>
		<a class="btn-cta" href="#">Ga naar Gegevensdeling</a>
	</section>

	<section class="card">
		<h3>Contactgeschiedenis</h3>
		<p>Overzicht van alle momenten waarop een overheidsorganisatie contact met u heeft opgenomen, inclusief datum en onderwerp.</p>
		<a class="btn-cta" href="#">Ga naar Contactgeschiedenis</a>
	</section>
</div>
