:root {
  --bldc-white: #FFFFFF;
  --bldc-grey-100: #F1F5F9;
  --bldc-grey-200: #E2E8F0;
  --bldc-grey-300: #CBD5E1;
  --bldc-grey-400: #94A3B8;
  --bldc-grey-500: #64748B;
  --bldc-grey-600: #475569;
  --bldc-grey-700: #334155;
  --bldc-grey-800: #1E293B;
  --bldc-grey-900: #101729;
  --bldc-black: #050914;
  --bldc-logoblue-15: #DCE3EA;
  --bldc-logoblue-30: #B8C6D5;
  --bldc-logoblue-45: #95A9C0;
  --bldc-logoblue-60: #738EAB;
  --bldc-logoblue-75: #507196;
  --bldc-logoblue-100: #154273;
  --bldc-logoblue-125: #103156;
  --bldc-logoblue-140: #0D2845;
  --bldc-logoblue-155: #091E34;
  --bldc-logoblue-170: #061423;
  --bldc-logoblue-185: #030A11;
  --bldc-lightblue-15: #EEF7FB;
  --bldc-lightblue-30: #DDEFF8;
  --bldc-lightblue-45: #CCE7F4;
  --bldc-lightblue-60: #B6DDEF;
  --bldc-lightblue-75: #ABD7ED;
  --bldc-lightblue-100: #8FCAE7;
  --bldc-lightblue-125: #6B98AD;
  --bldc-lightblue-140: #56798B;
  --bldc-lightblue-155: #405B68;
  --bldc-lightblue-170: #374952;
  --bldc-lightblue-185: #252E32;
  --bldc-heavenblue-15: #D9EBF7;
  --bldc-heavenblue-30: #B2D7EE;
  --bldc-heavenblue-45: #8CC3E6;
  --bldc-heavenblue-60: #66AFDD;
  --bldc-heavenblue-75: #409CD5;
  --bldc-heavenblue-100: #007BC7;
  --bldc-heavenblue-125: #005C95;
  --bldc-heavenblue-140: #004A77;
  --bldc-heavenblue-155: #00375A;
  --bldc-heavenblue-170: #0D3148;
  --bldc-heavenblue-185: #0F222D;
  --bldc-darkblue-15: #D9E8F0;
  --bldc-darkblue-30: #B2D1E1;
  --bldc-darkblue-45: #8CBBD2;
  --bldc-darkblue-60: #66A4C3;
  --bldc-darkblue-75: #408EB4;
  --bldc-darkblue-100: #01689B;
  --bldc-darkblue-125: #014E74;
  --bldc-darkblue-140: #013E5D;
  --bldc-darkblue-155: #002F46;
  --bldc-darkblue-170: #0D2C3B;
  --bldc-darkblue-185: #0F1F27;
  --bldc-mintgreen-15: #EBF8F4;
  --bldc-mintgreen-30: #D5F1E9;
  --bldc-mintgreen-45: #C1EBDE;
  --bldc-mintgreen-60: #ACE4D3;
  --bldc-mintgreen-75: #98DDC8;
  --bldc-mintgreen-100: #76D2B6;
  --bldc-mintgreen-125: #599D88;
  --bldc-mintgreen-140: #477E6D;
  --bldc-mintgreen-155: #355F52;
  --bldc-mintgreen-170: #304C43;
  --bldc-mintgreen-185: #212F2B;
  --bldc-mossgreen-15: #EBEBD9;
  --bldc-mossgreen-30: #D6D7B2;
  --bldc-mossgreen-45: #C1C38C;
  --bldc-mossgreen-60: #ADAF66;
  --bldc-mossgreen-75: #999C40;
  --bldc-mossgreen-100: #777B00;
  --bldc-mossgreen-125: #595C00;
  --bldc-mossgreen-140: #474A00;
  --bldc-mossgreen-155: #363700;
  --bldc-mossgreen-170: #30310D;
  --bldc-mossgreen-185: #21220F;
  --bldc-green-15: #E1EDDA;
  --bldc-green-30: #C3DBB5;
  --bldc-green-45: #A5C991;
  --bldc-green-60: #88B76D;
  --bldc-green-75: #6AA549;
  --bldc-green-100: #39870C;
  --bldc-green-125: #2B6509;
  --bldc-green-140: #225107;
  --bldc-green-155: #1A3D05;
  --bldc-green-170: #1E3510;
  --bldc-green-185: #182411;
  --bldc-darkgreen-15: #DEE6E1;
  --bldc-darkgreen-30: #BDCDC2;
  --bldc-darkgreen-45: #9DB4A4;
  --bldc-darkgreen-60: #7D9B87;
  --bldc-darkgreen-75: #5D8269;
  --bldc-darkgreen-100: #275937;
  --bldc-darkgreen-125: #1D4329;
  --bldc-darkgreen-140: #173521;
  --bldc-darkgreen-155: #122819;
  --bldc-darkgreen-170: #18271D;
  --bldc-darkgreen-185: #151D18;
  --bldc-brown-15: #EFEADA;
  --bldc-brown-30: #DFD4B5;
  --bldc-brown-45: #CFBF90;
  --bldc-brown-60: #BFA96C;
  --bldc-brown-75: #AF9447;
  --bldc-brown-100: #94710A;
  --bldc-brown-125: #6F5507;
  --bldc-brown-140: #594406;
  --bldc-brown-155: #433305;
  --bldc-brown-170: #392F10;
  --bldc-brown-185: #252011;
  --bldc-darkbrown-15: #E8E0DF;
  --bldc-darkbrown-30: #D1C1BD;
  --bldc-darkbrown-45: #BAA39D;
  --bldc-darkbrown-60: #A3847D;
  --bldc-darkbrown-75: #8D665D;
  --bldc-darkbrown-100: #673327;
  --bldc-darkbrown-125: #4D261D;
  --bldc-darkbrown-140: #3E1F17;
  --bldc-darkbrown-155: #2E1712;
  --bldc-darkbrown-170: #2B1C18;
  --bldc-darkbrown-185: #1F1715;
  --bldc-yellow-15: #FEFBDD;
  --bldc-yellow-30: #FDF6BB;
  --bldc-yellow-45: #FCF199;
  --bldc-yellow-60: #FBED78;
  --bldc-yellow-75: #FAE856;
  --bldc-yellow-100: #F9E11E;
  --bldc-yellow-125: #BBA916;
  --bldc-yellow-140: #958712;
  --bldc-yellow-155: #70650E;
  --bldc-yellow-170: #575016;
  --bldc-yellow-185: #353114;
  --bldc-darkyellow-15: #FEF4DB;
  --bldc-darkyellow-30: #FEE9B7;
  --bldc-darkyellow-45: #FDDE94;
  --bldc-darkyellow-60: #FDD370;
  --bldc-darkyellow-75: #FDC84D;
  --bldc-darkyellow-100: #FFB612;
  --bldc-darkyellow-125: #BF880D;
  --bldc-darkyellow-140: #996D0B;
  --bldc-darkyellow-155: #735208;
  --bldc-darkyellow-170: #594312;
  --bldc-darkyellow-185: #362B12;
  --bldc-orange-15: #FBEAD9;
  --bldc-orange-30: #F6D4B2;
  --bldc-orange-45: #F1BE8C;
  --bldc-orange-60: #EDA966;
  --bldc-orange-75: #E89440;
  --bldc-orange-100: #E17000;
  --bldc-orange-125: #A95400;
  --bldc-orange-140: #874300;
  --bldc-orange-155: #653200;
  --bldc-orange-170: #502E0D;
  --bldc-orange-185: #31200F;
  --bldc-red-15: #F9DFDD;
  --bldc-red-30: #F2BFBB;
  --bldc-red-45: #EC9F99;
  --bldc-red-60: #E67F78;
  --bldc-red-75: #DF6056;
  --bldc-red-100: #D52B1E;
  --bldc-red-125: #A02016;
  --bldc-red-140: #801A12;
  --bldc-red-155: #60130E;
  --bldc-red-170: #4C1916;
  --bldc-red-185: #2F1614;
  --bldc-pink-15: #FDEFF8;
  --bldc-pink-30: #FBDEF0;
  --bldc-pink-45: #F8CEE8;
  --bldc-pink-60: #F6BDE1;
  --bldc-pink-75: #F4ADD9;
  --bldc-pink-100: #F092CD;
  --bldc-pink-125: #B46D9A;
  --bldc-pink-140: #90587B;
  --bldc-pink-155: #6C425C;
  --bldc-pink-170: #55384A;
  --bldc-pink-185: #33252E;
  --bldc-rubyred-15: #F7D9E7;
  --bldc-rubyred-30: #EFB2CE;
  --bldc-rubyred-45: #E78CB6;
  --bldc-rubyred-60: #DF669D;
  --bldc-rubyred-75: #D74085;
  --bldc-rubyred-100: #CA005D;
  --bldc-rubyred-125: #980046;
  --bldc-rubyred-140: #790038;
  --bldc-rubyred-155: #5B002A;
  --bldc-rubyred-170: #490D28;
  --bldc-rubyred-185: #2E0F1D;
  --bldc-violet-15: #F2D9E7;
  --bldc-violet-30: #E5B2CF;
  --bldc-violet-45: #D88CB7;
  --bldc-violet-60: #CB66A0;
  --bldc-violet-75: #BE4088;
  --bldc-violet-100: #A90061;
  --bldc-violet-125: #7F0049;
  --bldc-violet-140: #65003A;
  --bldc-violet-155: #4C002C;
  --bldc-violet-170: #3F0D2A;
  --bldc-violet-185: #290F1E;
  --bldc-purple-15: #E3DCE7;
  --bldc-purple-30: #C6B8CE;
  --bldc-purple-45: #A995B7;
  --bldc-purple-60: #8D729F;
  --bldc-purple-75: #714F87;
  --bldc-purple-100: #42145F;
  --bldc-purple-125: #310F47;
  --bldc-purple-140: #280C39;
  --bldc-purple-155: #1E092B;
  --bldc-purple-170: #201329;
  --bldc-paars-185: #19121E;
}