.belastingdienst-light {
  --bldc-bg-level-0-default: var(--bldc-white);
  --bldc-bg-level-0-desaturated: var(--bldc-grey-100);
  --bldc-bg-level-0-saturated: var(--bldc-lightblue-15);
  --bldc-bg-level-1-default: var(--bldc-white);
  --bldc-bg-level-1-desaturated: var(--bldc-grey-100);
  --bldc-bg-level-1-saturated: var(--bldc-lightblue-15);
  --bldc-bg-level-2-default: var(--bldc-white);
  --bldc-bg-level-2-desaturated: var(--bldc-grey-100);
  --bldc-bg-level-2-saturated: var(--bldc-lightblue-15);
  --bldc-bg-emphasized: var(--bldc-lightblue-30);
  --bldc-bg-emphasized-strong: var(--bldc-lightblue-60);
  --bldc-bg-alarming-15: var(--bldc-red-15);
  --bldc-layer-default: var(--bldc-white);
  --bldc-layer-primary: var(--bldc-darkblue-100);
  --bldc-layer-primary-hover: var(--bldc-darkblue-125);
  --bldc-layer-primary-active: var(--bldc-darkblue-140);
  --bldc-layer-alarming: var(--bldc-red-100);
  --bldc-layer-alarming-hover: var(--bldc-red-125);
  --bldc-layer-alarming-active: var(--bldc-red-140);
  --bldc-layer-alarming-secondary-active: var(--bldc-red-15);
  --bldc-layer-cta: var(--bldc-green-100);
  --bldc-layer-cta-hover: var(--bldc-green-125);
  --bldc-layer-cta-active: var(--bldc-green-140);
  --bldc-layer-organisation-0: var(--bldc-lightblue-15);
  --bldc-layer-organisation-1: var(--bldc-lightblue-30);
  --bldc-bg-advising-15: var(--bldc-orange-15);
  --bldc-bg-advising-30: var(--bldc-orange-30);
  --bldc-layer-active: var(--bldc-lightblue-15);
  --bldc-bg-attending-15: var(--bldc-darkyellow-15);
  --bldc-layer-selected: var(--bldc-darkblue-100);
  --bldc-bg-alarming-30: var(--bldc-red-30);
  --bldc-layer-selected-hover: var(--bldc-darkblue-125);
  --bldc-bg-attending-30: var(--bldc-darkyellow-30);
  --bldc-layer-selected-active: var(--bldc-darkblue-140);
  --bldc-bg-motivating-15: var(--bldc-green-15);
  --bldc-bg-motivating-30: var(--bldc-green-30);
  --bldc-layer-disabled: var(--bldc-grey-100);
  --bldc-bg-informing-15: var(--bldc-heavenblue-15);
  --bldc-bg-informing-30: var(--bldc-heavenblue-30);
  --bldc-layer-disabled-strong: var(--bldc-grey-300);
  --bldc-text-heading: var(--bldc-logoblue-100);
  --bldc-text-heading-desaturated: var(--bldc-black);
  --bldc-text-paragraph-primary: var(--bldc-black);
  --bldc-text-paragraph-secondary: var(--bldc-grey-700);
  --bldc-text-disabled: var(--bldc-grey-500);
  --bldc-text-inverted: var(--bldc-white);
  --bldc-text-interactive: var(--bldc-darkblue-100);
  --bldc-text-interactive-hover: var(--bldc-darkblue-125);
  --bldc-text-interactive-active: var(--bldc-darkblue-140);
  --bldc-text-error: var(--bldc-red-100);
  --bldc-border-default: var(--bldc-grey-600);
  --bldc-border-strong: var(--bldc-grey-700);
  --bldc-border-subtle: var(--bldc-grey-400);
  --bldc-border-extra-subtle: var(--bldc-grey-300);
  --bldc-border-organisation: var(--bldc-lightblue-100);
  --bldc-border-organisation-subtle: var(--bldc-lightblue-60);
  --bldc-border-primary: var(--bldc-darkblue-100);
  --bldc-border-primary-hover: var(--bldc-darkblue-100);
  --bldc-border-primary-active: var(--bldc-darkblue-100);
  --bldc-border-error: var(--bldc-red-100);
  --bldc-border-error-subtle: var(--bldc-red-60);
  --bldc-border-success: var(--bldc-green-100);
  --bldc-icon-organisation: var(--bldc-logoblue-100);
  --bldc-icon-primary: var(--bldc-darkblue-100);
  --bldc-icon-primary-hover: var(--bldc-darkblue-125);
  --bldc-icon-primary-active: var(--bldc-darkblue-140);
  --bldc-icon-desaturated: var(--bldc-black);
  --bldc-icon-subtle: var(--bldc-grey-600);
  --bldc-icon-inverted: var(--bldc-white);
  --bldc-icon-informing: var(--bldc-heavenblue-100);
  --bldc-icon-motivating: var(--bldc-green-100);
  --bldc-icon-attending: var(--bldc-darkyellow-100);
  --bldc-icon-advising: var(--bldc-orange-100);
  --bldc-icon-alarming: var(--bldc-red-100);
  --bldc-focus-ring: var(--bldc-heavenblue-100);
  --bldc-lint-bg: var(--bldc-logoblue-100);
  --bldc-lint-fg: var(--bldc-white);
  --bldc-navigation-bg: var(--bldc-bg-level-1-default);
  --bldc-navigation-item-bg-hover: var(--bldc-layer-organisation-0);
  --bldc-navigation-item-bg-active: var(--bldc-layer-organisation-1);
  --bldc-navigation-item-text: var(--bldc-text-heading);
  --bldc-navigation-item-icon: var(--bldc-icon-organisation);
  --bldc-navigation-border: var(--bldc-border-organisation);
  --bldc-footer-bg: var(--bldc-bg-level-1-saturated);
  --bldc-button-primary-bg: var(--bldc-layer-primary);
  --bldc-button-primary-bg-hover: var(--bldc-layer-primary-hover);
  --bldc-button-primary-bg-active: var(--bldc-layer-primary-active);
  --bldc-button-primary-text: var(--bldc-text-inverted);
  --bldc-button-primary-icon: var(--bldc-icon-inverted);
  --bldc-button-cta-bg: var(--bldc-layer-cta);
  --bldc-button-cta-bg-hover: var(--bldc-layer-cta-hover);
  --bldc-button-cta-bg-active: var(--bldc-layer-cta-active);
  --bldc-button-cta-text: var(--bldc-text-inverted);
  --bldc-button-cta-icon: var(--bldc-icon-inverted);
  --bldc-tag-bg-default: var(--bldc-grey-200);
  --bldc-tag-text-default: var(--bldc-grey-700);
  --bldc-tag-bg-negative: var(--bldc-red-30);
  --bldc-tag-text-negative: var(--bldc-red-140);
  --bldc-tag-bg-positive: var(--bldc-green-30);
  --bldc-tag-text-positive: var(--bldc-green-140);
  --bldc-link-default: var(--bldc-darkblue-100);
  --bldc-link-hover: var(--bldc-darkblue-125);
  --bldc-link-active: var(--bldc-darkblue-140);
  --bldc-link-visited: var(--bldc-purple-75);
  --bldc-heading-1: var(--bldc-text-heading);
  --bldc-heading-1-desaturated: var(--bldc-text-heading-desaturated);
  --bldc-heading-2: var(--bldc-text-heading);
  --bldc-heading-2-desaturated: var(--bldc-text-heading-desaturated);
  --bldc-heading-3: var(--bldc-text-heading);
  --bldc-heading-3-desaturated: var(--bldc-text-heading-desaturated);
  --bldc-heading-4: var(--bldc-text-heading);
  --bldc-heading-4-desaturated: var(--bldc-text-heading-desaturated);
  --bldc-heading-5: var(--bldc-text-heading);
  --bldc-heading-5-desaturated: var(--bldc-text-heading-desaturated);
  --bldc-heading-6: var(--bldc-text-heading);
  --bldc-heading-6-desaturated: var(--bldc-text-heading-desaturated);
  --bldc-icon-warning: var(--bldc-icon-desaturated);
}