@font-face {
	font-family: 'ROregular';
	src: url('ROsanswebtextregular.woff') format('woff');
}

@font-face {
	font-family: 'ROitalic';
	src: url('ROsanswebtextitalic.woff') format('woff');
}


@font-face {
	font-family: 'RObold';
	src: url('ROsanswebtextbold.woff') format('woff');
}
