---
title: "MijnOverheid: A.M. Vogel-de Groot"
---

{% include "side-nav-mobu.njk" %}

<article id="hoofd-inhoud">
	<h1>A.M. Vogel-de Groot</h1>

	<div class="feedback feedback-info">
		{% include "icon-feedback.njk" %}
		<div>
			<p>U handelt namens A.M. Vogel-de Groot. U bent via DigiD Machtigen gemachtigd om zaken op het gebied van zorg en welzijn te regelen. Onderdelen buiten deze machtiging ziet u niet.</p>
		</div>
	</div>

	<div class="tiles">
		<section class="card">
			<h2>Gezondheid</h2>
			<p>Zorgverzekering, eigen bijdrage en zorg die geregeld is.</p>
			<a class="btn-cta" href="{{ '/mobu/namens-mantelzorg/gezondheid/' | url }}">Ga naar Gezondheid</a>
		</section>
		<section class="card">
			<h2>Lopende zaken</h2>
			<p>Volg de voortgang van aanvragen die u namens diegene heeft gedaan.</p>
			<a class="btn-cta" href="{{ '/mobu/namens-mantelzorg/lopende-zaken/' | url }}">Ga naar Lopende zaken</a>
		</section>
		<section class="card">
			<h2>Berichtenbox</h2>
			<p>Berichten van overheidsorganisaties gericht aan diegene.</p>
			<a class="btn-cta" href="{{ '/mobu/namens-mantelzorg/berichtenbox/' | url }}">Ga naar Berichtenbox</a>
		</section>
	</div>
</article>
